<%- include('header') %>
<span style="font-size: 48px; font-weight: bolder;">Create your own addon!</span>
<br/><br/><br/>
<form method="POST" action="/addon/callback" enctype="application/x-www-form-urlencoded">
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="text" class="form-control" id="id" maxlength="64" name="id" required>
      <div id="emailHelp" class="form-text">a-Z, numbers, hyphen only allowed!</div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" maxlength="64" name="name" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" style="resize: none;" rows="10" required></textarea>
        <div id="emailHelp" class="form-text">You can use Markdown for description!</div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<%- include('footer') %>